#main {
  margin-top: 26px;
}

#main>form {
  margin-top: 35px;
}

#main>form>input {
  border-radius: 500px;
  border: 2px solid var(--french-violet);
  margin-right: 26px;
  padding-left: 26px;
  height: 3.2em;
  width: 26%;
}

#main>form>input:focus {
  outline: none;
  border: none;

}

section#info {
  margin: 0 40px;
  border: 1px solid var(--mauve);
  font-style: oblique;
  font-size: 1.3em;
  padding: 17px;
}

section#result {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 80px;
  /* row-gap: 40; column-gap: 50px; */
}

.mainContainer {
  margin-top: 44px;
  padding: 11px 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
