.mainContainer {
    min-height: 50vh;

    margin: 11px 44px;

    /* Copied form card container, put button at the bottom of whole thingie with this flex*/
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    background-color: var(--columbia-blue);
    border: 8px solid var(--platinum);
    border-radius: 11px;
    color: var(--rich-black);
    box-shadow: 0px 0px 8px 8px var(--powder-blue);
    text-align: center;
}


.postTitle {
    font-size: 2.2rem;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
}

.postTitle:before,
.postTitle:after {
    content: '\2630';
    padding: 0 8px;
    font-size: 1.7rem;
    color: var(--glaucous);
    position: relative;
    bottom: 2px;
}

.postSubtitle {
    font-family: var(--font-main);
    font-weight: 300;
    margin-bottom: 31px;
    font-size: 1.5rem;
}

.postIcon {
    height: 44px;
    margin: auto 4px auto 11px;
    border: 1px dotted var(--rich-black);
    border-radius: 4px;
}

.postContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 44px 22px;
}



.linkToPost {
    background-color: var(--glaucous);
    color: var(--rich_black);
    font-family: var(--font-display);
    font-size: 1em;
    padding: 8px 19px;
    border-radius: 4px;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    margin-top: 22px;
}

.linkToPost:hover {
    background-color: var(--rich-black);
    color: var(--glaucous);
}
