.mainContainer {
    min-height: 50vh;
    text-align: left;
    margin: 11px 44px;
    padding: 22px;

    /* Copied form card container, put button at the bottom of whole thingie with this flex*/
    display: flex;
    flex-direction: column;

    background-color: var(--columbia-blue);
    border: 8px solid var(--platinum);
    border-radius: 11px;
    color: var(--rich-black);
    box-shadow: 0px 0px 8px 8px var(--powder-blue);
}


.postTitle {
    font-size: 2.2rem;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
}

.postSubtitle {
    font-family: var(--font-main);
    font-weight: 300;
    margin-bottom: 31px;
    font-size: 1.5rem;
}

.postIcon {
    height: 44px;
    margin: auto 4px auto 11px;
    border: 1px dotted var(--rich-black);
    border-radius: 4px;
}

.postMidSection div {
    font-family: var(--font-primary);
    font-weight: 600;
    margin-left: 11px;
    font-size: 1.1rem;
}

.postMidSection svg {
    line-height: 1;
    background-color: var(--rich-black);
    color: var(--columbia-blue);
    font-size: 1.1rem;
    height: 24px;
    width: 24px;
}


.postMidSection span {
    font-size: 1.1rem;
    color: var(--glaucous);
}

.linkToPost {
    background-color: var(--glaucous);
    color: var(--rich_black);
    font-family: var(--font-display);
    font-size: 1em;
    padding: 11px 26px;
    border-radius: 4px;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    /* margin-top: auto puts it at the end of the container; */
    margin-top: auto;
}

.linkToPost:hover {
    background-color: var(--rich-black);
    color: var(--glaucous);
}