.mainContainer {
    min-height: 50vh;
    text-align: left;
    margin: 11px 44px;
    padding: 22px;

    /* Copied form card container, put button at the bottom of whole thingie with this flex*/
    display: flex;
    row-gap: 22px;
    flex-direction: column;

    background-color: var(--columbia-blue);
    border: 8px solid var(--platinum);
    border-radius: 11px;
    color: var(--rich-black);
    box-shadow: 0px 0px 8px 8px var(--powder-blue);
}

.innerHorizContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerHorizContainer .textCardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.innerHorizContainer .mediaCardContent {
    margin-left: 2%;
    max-width: 44%;
    object-fit: contain;
    object-position: 50% 0%;
    /* 50% 50% is centered horiz and vert*/
}
/*
.postIcons {
    background-color: var(--powder-blue);
    border-radius: 11px;
    width: 100%;
    padding: 8px;
}

.postIcons img {
    width: 26px;
    margin-right: 11px;
}
*/

.postTitle {
    margin: 11px 0 ;
    font-size: 1.9rem;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
}

.postSubtitle {
    font-family: var(--font-main);
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.postMidSection {
    background-color: var(--powder-blue);
    border-radius: 11px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
    padding: 8px;
}

.postMidSection div {
    grid-column: span 2;
    font-family: var(--font-primary);
    font-weight: 600;
    /* margin-left: 11px; */
    font-size: 1.1rem;
}

.postMidSection svg {
    line-height: 1;
    background-color: var(--rich-black);
    color: var(--columbia-blue);
    font-size: 1.1rem;
    height: 24px;
    width: 24px;
}

.postMidSection span {
    font-size: 1.1rem;
    color: var(--glaucous);
}

.postText {
    margin-top: 17px;
    color: (--rich-black);
    font-size: 1.1rem;
    margin-bottom: 8px;
    overflow: hidden;
}

.commentsSection {
    border-top: 2px solid var(--glaucous);
    color: var(--rich-black);
    padding: 16px;
}

.linkToPost {
    background-color: var(--glaucous);
    color: var(--rich_black);
    font-family: var(--font-display);
    font-size: 1em;
    padding: 11px 26px;
    border-radius: 4px;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    /* margin-top: auto puts it at the end of the container; */
    margin-top: auto;
}

.linkToPost:hover {
    background-color: var(--rich-black);
    color: var(--glaucous);
}