.galleryTitle {
    font-size: 2.2rem;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
    text-align: center;
    margin-bottom: 11px;
}

.galleryTitle:before,
.galleryTitle:after {
    content: '\2630';
    padding: 0 8px;
    font-size: 1.7rem;
    color: var(--glaucous);
    position: relative;
    bottom: 2px;
}

.gallerySubtitle {
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 26px;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 44px 22px;
}


/* mediaqueries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .galleryTitle {
        font-size: 1.5rem;
    }

    .galleryTitle:before,
    .galleryTitle:after {
        font-size: 1.1rem;
    }

    .gallerySubtitle {
        display: none;
        font-size: 1.1rem;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 822px) {
    .galleryTitle {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .galleryTitle:before,
    .galleryTitle:after {
        font-size: 1.2rem;
    }

    .gallerySubtitle {
        font-size: 1rem;
        margin-bottom: 17px;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 22px;
    }
}

/* Medium devices (landscape tablets, 822px and up) */
@media only screen and (min-width: 822px) and (max-width: 992px) {
    .galleryTitle {
        font-size: 2.2rem;
    }

    .galleryTitle:before,
    .galleryTitle:after {
        font-size: 1.7rem;
    }

    .gallerySubtitle {
        font-size: 1.5rem;
    }

    .galleryContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .galleryTitle {
        font-size: 2.2rem;
    }

    .galleryTitle:before,
    .galleryTitle:after {
        font-size: 1.7rem;
    }

    .gallerySubtitle {
        font-size: 1.5rem;
    }

    .galleryContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}