.button {
    background-color: var(--glaucous);
    color: var(--rich-black);
    font-weight: 600;
    font-size: .8em;
    padding: 8px 11px;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
}
