.card {
    background-color: var(--columbia-blue);
    border: 22px solid var(--platinum);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    text-align: left;
    border-radius: 11px;
    grid-column: span 3;
    box-shadow: 0px 0px 8px 8px var(--powder-blue);

    height: 440px;

}

.card>.cardTitle {
    color: var(--rich-black);
    font-family: var(--font-display);
    font-size: 1.7em;
    margin-bottom: 8px;
    padding: 4px;
}

.card>.cardSubreddit {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
}

.card>.linkToPost {
    background-color: var(--glaucous);
    color: var(--rich_black);
    font-weight: 600;
    font-size: .8em;
    padding: 8px 11px;
    border-radius: 4px;
    text-transform: uppercase;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}