.card {
    background-color: var(--columbia-blue);
    border: 22px solid var(--platinum);
    border-radius: 11px;
    color: var(--rich-black);
    padding: 16px;
    box-shadow: 0px 0px 8px 8px var(--powder-blue);
    text-align: left;

    grid-column: span 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover {
    background-color: var(--powder-blue);
    border: 22px solid var(--columbia-blue);
}

.card .textCardContent {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.cardTopSection {
    display: flex;
    justify-content: space-between;
}

.cardTopSection>.cardIcons>img {
    width: 35px;
    margin-right: 11px;
}

.card .cardTitle {
    color: var(--rich-black);
    font-family: var(--font-display);
    font-size: 1.4em;
    margin-bottom: 8px;
    padding: 4px;
}

.card .cardSubreddit,
.card .cardAuthor {
    font-family: var(--font-primary);
    font-weight: 600;
    margin-bottom: 8px;
}

.card .cardSubreddit>span,
.card .cardAuthor>span {
    font-size: 1.1em;
    color: var(--glaucous);
}

.card .cardText {
    color: (--rich-black);
    font-size: 1.1em;
    margin-bottom: 8px;
    padding: 4px;
}

.mediaCardContent {
    margin-left: 1%;
    width: 44%;
    object-fit: contain;
    object-position: 50% 5%; /* 50% 50% is centered */
    background-color: var(--columbia-blue);
}


/*
.card>.cardFooter>.linkToPost {
    background-color: var(--glaucous);
    font-family: var(--font-display);
    color: var(--rich_black);
    font-size: 1em;
    padding: 8px 11px;
    border-radius: 4px;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
}
*/

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}