.commentContainer {
    border-radius: 11px;
    padding: 16px;
    box-shadow: 0px 0px 1px 1px var(--glaucous);
    text-align: left;
}

.commentTopSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 2%;
    margin-bottom: 11px;

    padding: 8px;
    width: 100%;
}

.upDownDiv {
    display: flex;
    flex-direction: column;
    color: var(--rich-black);
    align-items: center;
    background-color: var(--powder-blue);
    border-radius: 11px;
    padding: 8px;
}

.upDownDiv svg {
    font-size: 2.6rem;
    stroke-width: 11px;
}

.upDownDiv span {
    font-weight: 300;
}

.commentAuthor {
    margin-left: 17px;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-size: 1.4rem;
}

.redditIcon {
    margin-right: 4px;
    font-size: 1.7rem;
}

.commentText {
    text-align: left;
}


/* mediaqueries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .commentContainer {
        padding: 8px;
    }

    .upDownDiv {
        padding: 4px;
    }

    .upDownDiv svg {
        font-size: 1.9rem;
    }

    .commentAuthor {
        font-weight: 300;
        font-size: 1.3rem;
    }

    .redditIcon {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) and (max-width: 821px) {
    .commentContainer {
        padding: 11px;
    }

    .upDownDiv {
        padding: 8px;
    }

    .upDownDiv svg {
        font-size: 2.2rem;
    }

    .commentAuthor {
        font-weight: 300;
        font-size: 1.3rem;
    }

    .redditIcon {
        display: none;
    }
}

/* Medium devices (landscape tablets, 822px and up) */
@media only screen and (min-width: 822px) and (max-width: 991px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}