.firstBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--glaucous);
    border: 8px solid var(--platinum);
    border-radius: 11px;
    color: var(--rich-black);
    padding: 16px;
    box-shadow: 0px 0px 8px 8px var(--powder-blue);
    text-align: left;

    grid-column: span 2;
    cursor: pointer;
}

.firstBarContainer:hover {
    background-color: var(--platinum);
    /* border-color: var(--columbia-blue); */
}

.subRTopSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    margin-bottom: 11px;

    background-color: var(--powder-blue);
    padding: 8px;
    border-radius: 11px;
    width: 100%;
}

.subRTopSection img {
    width: 53px;
    height: 53px;
    margin-right: 4px;
}

.subRTitle {
    margin-bottom: 8px;
    font-family: var(--font-display);
    color: var(--glaucous);
    font-size: 1.4rem;
}

.subRURL {
    font-family: var(--font-display);
    font-weight: 200;
}

.subRMiddleSection {
    margin-bottom: 11px;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    gap: 8px;
}

.subRMiddleSection>div {
    background-color: var(--powder-blue);
    border-radius: 11px;
    width: 100%;
}

.subRMiddleSection>div>p:first-child {
    margin-top: 8px;
    font-size: .8rem;
}

.subRMiddleSection>div>p:last-child {
    margin-bottom: 8px;
    font-weight: 700;
}
