.mainContainer {
    background-color: var(--columbia-blue);
    padding: 11px 44px;
}

.galleryContainer {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 17px 2%;
}

.galleryTitle {
    font-family: var(--font-display);
    color: var(--glaucous);
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 11px;
}

.galleryTitle:before,
.galleryTitle:after {
    content: '\2630';
    padding: 0 8px;
    font-size: .6em;
    position: relative;
    bottom: 3px;
}


.gallerySubtitle {
    font-family: var(--font-display);
    font-weight: 200;
    font-size: .6em;
}