@import '../index.css';

#header {
    background-color: var(--powder-blue);
    padding: 22px 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
}

#header>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

#header>a>.logo {
    height: 88px;
}

#header>a>h1 {
    font-family: var(--font-display);
    color: var(--glaucous);
    font-size: 3.5rem;
    text-shadow: 2px 2px var(--rich-black);
}

#header>nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 11px 17px;
    width: 53%;
}

.menuButtonsRow a,
.menuButtonsRow button,
.menuSearchRow button {
    background-color: var(--glaucous);
    color: var(--rich-black);
    font-weight: 600;
    font-size: .91rem;
    padding: 6px 11px;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.navLink:hover,
.menuSearchRow button:hover {
    background-color: var(--rich-black);
    color: var(--glaucous);
}

.navLink:active {
    background-color: var(--platinum);
    color: var(--powder-blue);
}

.menuAboutRow {
    grid-column: span 12;
    margin: auto;
    text-align: center;
    color: var(--rich-black);
    font-family: var(--font-display);
    font-size: 1.5em;
}

.menuSearchRow {
    grid-column: span 12;
    /* get all 12 colums from parent grid... */
}

.menuButtonsRow {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 17px;
}

#aboutBtn {
    background-color: var(--rich-black);
    color: var(--glaucous);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #header {
        padding: 8px 22px;
        display: block;
        margin-bottom: 11px;
    }

    #header>a>.logo {
        height: 44px;
    }

    #header>a>h1 {
        color: var(--glaucous);
        font-size: 2rem;
    }

    #header>nav {
        display: inline-block;
    }

    .menuAboutRow {
        font-size: 1.1rem;
    }

    .menuSearchRow,
    .menuButtonsRow {
        display: block
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}