#header {
    background-color: var(--electric-indigo);
    height: 88px;
    padding: 11px 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

#header>div>.logo {
    height: 80px;
    pointer-events: none;
}

#header>div>h1 {
    font-family: var(--font-display);
    color: var(--safety-orange);
    font-size: 2.2em;
    text-shadow: 2px 2px var(--medium-blue);
}

#header>nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 17px 11px;
    width: 62%;
}


#header>nav>a:active>button {
    background-color: var(--phlox);
    color: var(--aureolin);
}

.first-row-item {
    grid-column: span 3;
}

.second-row-item {
    grid-column: span 2;
}
