@import '../index.css';

#header {
    background-color: var(--powder-blue);
    padding: 11px 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}

#header>div>.logo {
    height: 80px;
    pointer-events: none;
}

#header>div>h1 {
    font-family: var(--font-display);
    color: var(--glaucous);
    font-size: 3.1em;
    text-shadow: 2px 2px var(--rich-black);
}

#header>nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 17px 11px;
    /* width: 62%; */
}

.navLink,
.firstRowItem button {
    background-color: var(--glaucous);
    color: var(--rich-black);
    font-weight: 600;
    padding: 6px 11px;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    box-shadow: none;
    border: none;
}

.navLink:hover,
.firstRowItem button:hover {
    background-color: var(--rich-black);
    color: var(--glaucous);
}

.navLink:active {
    background-color: var(--platinum);
    color: var(--powder-blue);
}

.firstRowItem {
    grid-column: span 8;
    /* get all 8 colums from parent grid.. then create new grid */
}

.firstRowItem>form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px 11px;
}

.firstRowItem input {
    grid-column: span 3;
    padding: 6px 11px;
    border-radius: 4px;
    border: 1px solid var(--rich-black);
    background-color: var(--platinum);
}
.firstRowItem input:focus,
.firstRowItem input:active {
    border: 1px solid var(--glaucous);
    outline: none;
}

.firstRowItem .button {
    grid-column: span 1;
}

.secondRowItem {
    grid-column: span 2;
}