#searchForm {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 17px;
    /* ...then create new grid */
}

#searchForm input {
    grid-column: span 5;
    padding: 6px 11px;
    border-radius: 4px;
    border: 1px solid var(--rich-black);
    background-color: var(--platinum);
    /* and assign 3 columns to input and one to button */
}

#searchForm input:focus,
#searchForm input:active {
    border: 1px solid var(--glaucous);
    outline: none;
}

#searchForm button {
    font-size: 1em;
    grid-column: span 1;
}