@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kablammo&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-funky: 'Kablammo', cursive;
  /* CSS HSL */
  --c1: rgb(8, 0, 22);
  --c2: rgb(11, 0, 31);
  --c3: rgb(11, 0, 44);
  --c4: rgb(11, 0, 62);
  --c5: rgb(22, 0, 62);
  --french-violet: hsla(272, 63%, 46%, 1);
  --amethyst: hsla(273, 68%, 59%, 1);
  --mauve: hsla(278, 100%, 83%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

html {
  --u: 1.5vmin;
  --c1: rgb(8, 0, 22);
  --c2: rgb(11, 0, 31);
  --c3: rgb(11, 0, 44);
  --c4: rgb(11, 0, 62);
  --c5: rgb(22, 0, 62);
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 17.67);
  height: 100vh;
  background:
    conic-gradient(from 90deg at 99% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from 180deg at 1% 67%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from 0deg at 99% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from -90deg at 1% 33%, var(--c5) 0 90deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from -60deg at 50% 15.5%, var(--c3) 0 120deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from -60deg at 50% 16.75%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from 120deg at 50% 83.25%, var(--c5) 0 120deg, #fff0 0 360deg) var(--gp),
    linear-gradient(32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
    linear-gradient(-32deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
    linear-gradient(-90deg, #fff0 0 49%, var(--c5) 0 51%, #fff0 0 100%) var(--gp),
    linear-gradient(60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
    linear-gradient(-60.5deg, #fff0 0 49.5%, var(--c5) 0 50.5%, #fff0 0 100%) var(--gp),
    conic-gradient(from -90deg at 50% 50%, var(--c5) 0 32deg, var(--c3) 0 60.5deg, var(--c4) 0 90deg, var(--c5) 0 119.5deg, var(--c1) 0 148deg, var(--c5) 0 180deg, #fff0 0 360deg) var(--gp),
    conic-gradient(from 90deg at 50% 50%, var(--c2) 0 32deg, var(--c4) 0 60.5deg, var(--c3) 0 90deg, var(--c1) 0 119.5deg, var(--c5) 0 148deg, var(--c2) 0 180deg, #fff0 0 360deg) var(--gp);
  background-color: var(--c5);
  text-align: center;
}


a {
  text-decoration: none;
}

button {
  background-color: var(--mauve);
  color: var(--c1);
  font-weight: 600;
  font-size: .8em;
  padding: 14px 32px;
  border-radius: 500px;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
}


#header {
  background-color: var(--c1);
  height: 62px;
  padding: 11px 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header>h1 {
  font-family: var(--font-funky);
  color: var(--french-violet);
  font-size: 2.2em;
}

#header>.link {
  color: var(--french-violet);
  margin: 22px;
}

#header>.logo {
  height: 90%;
  pointer-events: none;
}

#main {
  margin-top: 26px;
}

#main>form {
  margin-top: 35px;
}

#main>form>input {
  border-radius: 500px;
  border: 2px solid var(--french-violet);
  margin-right: 26px;
  padding-left: 26px;
  height: 3.2em;
  width: 26%;  
}

#main>form>input:focus {
  outline: none;
  border: none;

}

section#info {
  margin: 0 40px;
  border: 1px solid var(--mauve);
  font-style: oblique;
  font-size: 1.3em;
  padding: 17px;
}

section#result {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 80px;
  /* row-gap: 40; column-gap: 50px; */
}

.mainContainer {
  margin-top: 44px;
  padding: 11px 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
